<% include partials/header %>

<div class="ui main text container">
    <div class="ui huge header">RESTful Blog App</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog) { %>
                <a class="item" href="/blogs/<%= blog._id %>">
                    <div class="image">
                        <img src="<%= blog.image %>">
                    </div>
                    <div class="content">
                        <div class="header"><%= blog.title %></div>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- blog.body.substring(0,100) %>...</p>
                        </div>
                        <div class="extra">
                            <button class="ui floated basic violet button">Read More</button>
                        </div>
                    </div>
                </a>
            <% }); %>
        </div>
    </div>
</div>

<% include partials/footer %>